html, body, div, span, applet, object, iframe,
  h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My code start from here */
 
 body{
    background-color: #C8C29E;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-right: 20px;
    margin-left:20px;
    margin-bottom: 20px;
}

.carousel{
    display:flex;
    justify-content: center;
    gap:20px;
   
    
}

 .imagecarousel{
    display:flex;
    
    align-items: center;
    animation: imagescale 10s linear infinite;
    border-radius: 20%;
    border:solid;
    border-color: black;
    border-width: 3px;
}


  @keyframes imagescale {
    0%   {transform:translate(0px, 0px) ;}
    5%   {transform:translate(20px, 0px) ;}
    10%   {transform:translate(40px, 0px) ;}
      15%   {transform:translate(60px, 0px) ;}
    20%   {transform:translate(80px, 0px) ;}
      25%   {transform:translate(100px, 0px) ;}
    30%   {transform:translate(120px, 0px) ;}
      35%   {transform:translate(140px, 0px) ;}
    40%   {transform:translate(160px, 0px) ;}
      45%   {transform:translate(180px, 0px) ;}
    50%  {transform:translate(200px, 0px) ;}
      55%   {transform:translate(220px, 0px) ;}
    60%   {transform:translate(240px, 0px) ;}
      65%   {transform:translate(260px, 0px) ;}
    70%   {transform:translate(280px, 0px) ;}
      75%   {transform:translate(300px, 0px) ;}
      80%  {transform:translate(320px, 0px) ;}
      85%   {transform:translate(340px, 0px) ;}
    90%   {transform:translate(360px, 0px) ;}
      95%   {transform:translate(380px, 0px) ;}
    100% {transform:translate(400px, 0px) ;}
  }

  .flexing-boxes{
    max-width: 100%;
    display:flex;
    justify-content: center;
    background-color: #C8C29E;
  }

    .three-boxes{
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 50%;
       gap:40px;
    }

    .box{
        border-radius: 20%;
        background-color: white;
        margin-top:30px;
        padding:20px 20px 20px 20px;
    }
    
    .flex_footer{
        display: flex;
        justify-content: center;
        gap:20px;
        margin-top:30px;
    }

    @media screen and (max-width:768px) {
      .three-boxes{
        flex-wrap: wrap;
        justify-content: center;
      }
    }